<div class="container">
  <nav class="nav">
    <ul>
      <li><a href="./">ドキュメント ホーム</a></li>
      <li><a href="./#install">インストールする</a></li>
      <li><a href="./#post">記事を投稿する</a></li>
      <li><a href="./#customize">各項目のカスタマイズ</a></li>
      <li><a href="./#faq">よくある質問</a></li>
    </ul>
  </nav>
  <div class="main">
