<% var
pageTitle = "ドキュメント";
pageId = "docs-index";
pageUrl = "/docs/";
pageDescription = "Tokusetsu 3 docs";
%>
<% include ../_header %>
<% include _docs-nav %>

  <h1 id="index">Illustfolio 4 ドキュメントへようこそ</h1>
  <p>
  Illustfolio 4 はイラストレーターのための Tumblr テーマです。
  <a href="https://twitter.com/sanographix">@sanographix</a> が作っています。
  </p>
  <img src="../images/og-image.jpg">

  <h2>デモを見る</h2>

  <p>デモページはこちらです。</p>
  <ul>
    <li><a href="http://illustfolio4-sanographixtheme.tumblr.com">http://illustfolio4-sanographixtheme.tumblr.com</a></li>
  </ul>

  <h2>対応ブラウザ</h2>

  <p>下記ブラウザの<strong>最新版のみ</strong>サポートします。</p>
  <ul>
    <li>Microsoft Edge</li>
    <li>Win / Mac 版 Chrome, Firefox</li>
    <li>macOS Safari</li>
    <li>iOS Safari</li>
    <li>Chrome for Android</li>
  </ul>

  <h1 id="install">インストールする</h1>
  <p>下記のリンクよりインストールできます。</p>
  <a href="https://www.tumblr.com/theme/40571" class="btn btn-large">Install</a>

  <h3>モバイルレイアウトのチェックを外す</h3>

  <ul>
    <li>Tumblr のテーマカスタマイズ画面を開いて 「詳細設定」の<font color="red">「デフォルトのモバイルテーマを使用」「Google AMPを有効にする」をそれぞれオフにしてください。</font>
    <ul>
      <li>このチェックを外すことでスマートフォンでもIllustfolioが表示されます
    </ul>
  </ul>


  <h1 id="customize">各項目のカスタマイズ</h1>

  <h2>レイアウトを決める</h2>

  <figure>
  	<img src="../images/docs/fig-1.png" style="max-width: 300px;">
      <figcaption>「サムネイルサイズ」「サムネイル間の余白」を調整する</figcaption>
  </figure>

  <p>Illustfolio 4 は、「サムネイルサイズ」「サムネイル間の余白」の設定を変えることで、トップページをお好みのレイアウトで表示できるテーマです。</p>
  <p>まずデザイン設定画面に遷移し、「<b>Thumbnails Size</b>」でお好みの大きさを選んでください。次に「<b>Thumbnails Margin</b>」で余白の量を調整してください。</p>

  <p>あまり大きいサムネイルで表示したくない…という方は、「<b>Thumbnails Size</b>」に「XS」や「S」を、「<b>Thumbnails Margin</b>」に「Wide」を選択するとよいでしょう。逆に、大きいサムネイルで表示したい方は、「<b>Thumbnails Size</b>」に「L」や「XL」を、「<b>Thumbnails Margin</b>」に「Narrow」や「None」を選択するとよいでしょう。なお、デモページでは「L」の「Narrow」を設定しています。</p>

  <h3>記事数を決める</h3>

  <figure>
  	<img src="../images/docs/fig-2.png">
      <figcaption>12記事か15記事がおすすめです</figcaption>
  </figure>

  <p>デザイン設定画面「詳細設定」にある「ページごとの投稿」の数を調整します。先の項目で「XS」「S」にした場合は<b>15記事</b>、「M」「L」「XL」の場合は<b>12記事</b>にすることをおすすめします。（サムネイルが揃って見えます）</p>

  <h2>その他の設定をする</h2>
  <h3>テーマオプション</h3>
  <table>
    <tr>
      <th>Title Logo</th>
      <td>ブログタイトルを画像に置換できます。透過png推奨。表示させたい2倍のサイズで作成すると高解像度ディスプレイで綺麗に見えます（その場合、後述の「Title Logo Width」に表示させたい横幅を入力してください）。</td>
    </tr>
    <tr>
      <th>Body</th>
      <td>本文のフォントを指定できます。<br>デフォルト: Helvetica</td>
    </tr>
    <tr>
      <th>Crop Thumbnails</th>
      <td>トップページのサムネイルをトリミングするか選択できます。有効にしておくことをおすすめしますが、サイズがほぼ決まっている画像（書影など）のみを投稿したい場合、無効にすると表示が改善されることがあります。<br>デフォルト: 有効</td>
    </tr>
    <tr>
      <th>Show Tag List</th>
      <td>ページ下部にタグ一覧を表示します。なお<b>非公開ブログを作成するときは無効にしてください</b>（公開ブログでしかタグを取得できないためです）。<br>デフォルト: 有効</td>
    </tr>
    <tr>
      <th>Show Profile Section</th>
      <td>ページ下部にプロフィールを表示します。<br>デフォルト: 有効</td>
    </tr>
    <tr>
      <th>Show Index Entry Footer</th>
      <td>トップページのサムネイル下部にLikeやReblogボタンを表示します。<br>デフォルト: 無効</td>
    </tr>
    <tr>
      <th>Single Column Mode</th>
      <td>トップページのグリッド表示をやめて1カラムで表示します。ブログ的な表示にしたい場合にご利用ください。<br>デフォルト: 無効</td>
    </tr>
    <tr>
      <th>Title Logo Width</th>
      <td>タイトルロゴの横幅を数値で入力します（単位: px）。何も入力しない場合、画像を等倍で表示します。
        <div class="example">
          <span class="badge">例</span> 150
        </div>
      </td>
    </tr>
    <tr>
      <th>Your Name</th>
      <td>プロフィールに表示する名前を入力できます。</td>
    </tr>
    <tr>
      <th>Profile</th>
      <td>プロフィールに表示する本文を入力できます。簡単な自己紹介を入力するとよいでしょう。</td>
    </tr>
    <tr>
      <th>Your Website URL</th>
      <td>入力すると、プロフィールセクションにウェブサイトへのリンクを表示できます。
        <div class="example">
          <span class="badge">例</span> http://www.sanogrpahix.net
        </div>
      </td>
    </tr>
    <tr>
      <th>Your Twitter Username</th>
      <td>入力すると、プロフィールセクションにTwitterアカウントへのリンクを表示できます。
        <div class="example">
          <span class="badge">例</span> sanographix<br>
          ※ アカウント名だけ入力してください（URLは不要です）
        </div>
      </td>
    </tr>
    <tr>
      <th>Your Facebook Username</th>
      <td>入力すると、プロフィールセクションにFacebookアカウントへのリンクを表示できます。
        <div class="example">
          <span class="badge">例</span> sanographixnet<br>
          ※ アカウント名だけ入力してください（URLは不要です）
        </div>
      </td>
    </tr>
    <tr>
      <th>Your Pixiv ID</th>
      <td>入力すると、プロフィールセクションにPixiv IDへのリンクを表示できます。
        <div class="example">
          <span class="badge">例</span> 536147<br>
          ※ 数字だけ入力してください（URLは不要です）
        </div>
      </td>
    </tr>
    <tr>
      <th>Your Instagram Username</th>
      <td>入力すると、プロフィールセクションにInstagramアカウントへのリンクを表示できます。
        <div class="example">
          <span class="badge">例</span> sanographix<br>
          ※ アカウント名だけ入力してください（URLは不要です）
        </div>
      </td>
    </tr>
  </table>

  <h1 id="post">記事を投稿する</h1>
  <ul>
    <li>イラストの投稿には、<b>「画像」形式で投稿することを強く推奨します</b>。
    <ul>
      <li>テキスト投稿よりも画像投稿のほうが画像の解像度を高く投稿できるためです
    </ul>
  </ul>

  <h1 id="faq">よくある質問</h1>

  <h3>Q: ブログを非公開にしたところパスワード以外にも認証を求められる</h3>
  <p>オプション「Show Tag List」を無効にすると解決します。（タグ一覧を取得するためにブログが公開状態でなければなりません）</p>

  <h3>Q: テーマオプションで「Thumbnails Size」や「Thumbnails Margin」を変更しても反映されず、シングルカラムになってしまう</h3>
  <p>オプション「Single Column Mode」を無効にすると解決します。</p>

  <h3>Q: ヘッダ画像の大きさや比率を固定することはできますか</h3>
  <p>できません。さまざまな縦横比の画像をさまざまな大きさの端末から閲覧しても破綻せず表示させるためです。</p>

  <h3>Q: トップページで複数枚の画像投稿（フォトセット）に対応していますか</h3>
  <p>フォトセット投稿では複数画像の1枚目のみトップページに表示します。これはグリッドレイアウトとフォトセットの両立がテーマの構造上困難であるためです。なお、シングルカラムモードは複数枚表示に対応します。</p>

  <h3>トップページでサムネイルが表示されない投稿があるのはなぜですか</h3>
  <p>「テキスト投稿」や「リンク投稿」など、サムネイルを生成しない投稿タイプでは表示しません。サムネイルを表示できる投稿タイプは「画像投稿」または「フォトセット投稿」です。</p>

  <h3>Q: そのほか不具合かな？ と思ったら</h3>
  <p>sanographix作のテーマ以外で、同様の現象が発生するか確認してください（Tumblrのデフォルトテーマで確認するのがベターです）。別のテーマでも同様の現象が発生する場合は、Tumblr側の仕様または不具合の可能性が高いです。Tumblr側のサポートに問い合わせてください。</p>

  <h3>Q: 本当に無料ですか？</h3>
  <p>はい、無料です。<br>気に入っていただけたら、何か寄付していただけるとありがたいです（任意です）
  <a href="https://www.amazon.co.jp/registry/wishlist/2QLOE7F0CGUSX?sort=priority">http://www.amazon.co.jp/registry/wishlist/2QLOE7F0CGUSX</a></p>

  <h3>Q: 商用利用してもいいですか？</h3>
  <p>問題ありません。ただし Tumblr の利用規約に違反するコンテンツには使えません。</p>

  <h3>Q: HTML や CSS を改変してもいいですか？</h3>
  <p>はい。MIT ライセンスですのでライセンスの範囲内で自由にカスタマイズできます。</p>

  <h3>それ以外の質問</h3>
  <p>よくある質問をまとめたのでご参照ください。</p>
  <a href="https://sanographix.gitbook.io/themes-support/" class="btn btn-large">サポートページへ</a>
  <p>上記リンクでも解決しない場合、<a href="http://www.sanographix.net/contact/">メールフォーム</a>よりお問い合わせください。なお、HTML/CSS/JSのカスタマイズについてのサポートは行っていません。</p>

  <h1 id="issue5">ポートフォリオ関連書籍のごあんない</h1>
  <p>私の所属する同人サークル『<a href="http://konel-works.com">konel</a>』で、「ポートフォリオサイトをつくる」をテーマにした同人誌を作りました。<br>（Illustfolio 4 の開発裏話も載ってます）</p>
  <ul>
    <li><a href="http://konel-works.com/issue5/">http://konel-works.com/issue5/</a>
  </ul>
  <a href="http://konel-works.com/issue5/"><img src="../images/konelmag-issue5-ogimage.jpg"></a>


<% include _docs-footer %>
<% include ../_footer %>
