<footer class="l-section section-footer">
  <div class="l-container">
    <p>
      このサイトは、イラストポートフォリオサイトが一瞬で作れる無料Tumblrテーマ「Illustfolio 4」の紹介ページです。<br>
      Illustfolio 4は無料で利用できますが、Tumblrの利用についてはTumblrの規約が適用されます。
    </p>
    <p>
      <a href="<%= siteRootUrl %>" target="_blank">Illustfolio 4</a> theme designed by <a href="http://www.sanographix.net/" target="_blank">SANOGRAPHIX.NET</a><br>
      Code licensed under MIT License.&nbsp;&nbsp;<a href="https://github.com/sanographix/illustfolio4">GitHub Project</a>
      <br>
      <a href="http://twitter.com/sanographix" target="_blank">Twitter</a>&nbsp;&nbsp;·&nbsp;&nbsp;<a href="http://facebook.com/sanographix.net" target="_blank">Facebook</a>
    </p>
  </div>
</footer>

<% if (pageId === 'index') { %>
  <script src="js/scripts.js"></script>
<% } else { %>
  <script src="../js/scripts.js"></script>
<% } %>

</body>
</html>
