<% var
  pageTitle = "Illustfolio 4 - イラストポートフォリオサイトが一瞬で作れる無料Tumblrテーマ";
  pageId = "index";
  pageUrl = "/";
  pageDescription = "Illustfolio 4 は、イラストポートフォリオサイトが一瞬で作れる無料Tumblrテーマです。";
%>
<% include _header %>

<header class="l-hero">
  <div class="l-container">
    <h1>イラストサイトは、<br>このテンプレートで。</h1>
    <p><strong>Illustfolio 4</strong>: イラストポートフォリオサイトが一瞬でつくれるTumblrテーマ</p>
    <div class="btn-wrapper">
      <a href="./docs" class="btn btn-large">Install Illustfolio 4</a>
    </div>
    <div class="hero-credit">
      Version 4.0<br>
      Created &amp; Maintained by <a href="https://twitter.com/sanographix">@sanographix</a>
    </div>
  </div>
</header>

<section class="l-section section-intro">
  <div class="l-container">
    <header class="section-header">
      <h2>イラストポートフォリオサイトを一瞬で作ろう</h2>
      <p>イラストレーターのためのテンプレート「Illustfolio 4」で、イラストサイトを作ろう。<br>
      画像を用意し、カスタマイズを施せば、あなたらしいポートフォリオサイトが簡単に完成します。</p>

      <div class="ad" style="text-align:center;margin-top:2em;" wovn-ignore>
        <style>
        .adsbygoogle { width: 728px; height: 90px; }
          @media(max-width: 730px) { .adsbygoogle { width: 336px; height: 280px; } }
          @media(max-width: 359px) { .adsbygoogle { width: 300px; height: 250px; } }
        </style>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- illustfolio4 -->
        <ins class="adsbygoogle"
              style="display:inline-block"
              data-ad-client="ca-pub-7746351817364448"
              data-ad-slot="2348291014"
              data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>

    </header>
    <div class="section-content">
      <img src="images/ss-l.jpg">
      <p class="notice">デモページイラスト提供: <a href="https://twitter.com/pemu_pomon">pemu</a>さん</p>
    </div>
  </div>
</section>

<section class="l-section section-new-feature">
  <div class="l-container">
    <header class="section-header">
      <span class="section-header-badge">新機能</span>
      <h2>レイアウトをカスタマイズ</h2>
      <p>サムネイルの大きさ、余白の空き具合をカスタマイズして、あなたに合ったレイアウトで表示できます。シングルカラムモードも搭載。</p>
    </header>
    <div class="section-content new-feature-content">
      <div class="l-row">
        <div class="l-span4">
          <h4>レイアウトを試そう</h4>
          <ul class="layout-selector-wrapper">
            <li>
              <span class="layout-selector-btn layout-btn-xs">XS</span>
            </li>
            <li>
              <span class="layout-selector-btn layout-btn-s">S</span>
            </li>
            <li>
              <span class="layout-selector-btn layout-btn-m is-active">M</span>
            </li>
            <li>
              <span class="layout-selector-btn layout-btn-l">L</span>
            </li>
            <li>
              <span class="layout-selector-btn layout-btn-xl">XL</span>
            </li>
            <li>
              <span class="layout-selector-btn layout-btn-single">SINGLE</span>
            </li>
          </ul>
        </div>
        <div class="l-span8">
          <ul class="layout-img-wrapper">
            <li class="layout-img layout-img-xs">
              <img src="images/ss-xs.jpg">
            </li>
            <li class="layout-img layout-img-s">
              <img src="images/ss-s.jpg">
            </li>
            <li class="layout-img layout-img-m is-active">
              <img src="images/ss-m.jpg">
            </li>
            <li class="layout-img layout-img-l">
              <img src="images/ss-l.jpg">
            </li>
            <li class="layout-img layout-img-xl">
              <img src="images/ss-xl.jpg">
            </li>
            <li class="layout-img layout-img-single">
              <img src="images/ss-single.gif">
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="l-section section-features">
  <div class="l-container">
    <div class="features-wrapper">
      <div class="features-items">
        <img src="images/feature-1.jpg">
        <h3>新しいデザイン</h3>
        <p>クリーンなデザインに一新。あなたのイラストをすっきりと表示します。</p>
      </div>
      <div class="features-items">
        <img src="images/feature-2.jpg">
        <h3>プロフィールを表示</h3>
        <p>ページ下部にプロフィール記入欄を設けました。簡単な自己紹介を入力できます。</p>
      </div>
      <div class="features-items">
        <img src="images/feature-3.jpg">
        <h3>タグの一覧表示</h3>
        <p>ページ下部にタグ一覧を表示できます。イラストをタグごとに見たい場合に便利です。</p>
      </div>
    </div>
    <header class="section-header">
      <h3>もっと自分好みに</h3>
    </header>
    <div class="features-wrapper features-items-secondary">
      <div class="features-items">
        <h3>色・背景画像・フォントのカスタマイズに対応</h3>
      </div>
      <div class="features-items">
        <h3>タイトルロゴを設定可能</h3>
      </div>
      <div class="features-items">
        <h3>サムネイル間の余白のカスタマイズに対応</h3>
      </div>
      <div class="features-items">
        <h3>すべての投稿タイプ・固定ページに対応</h3>
      </div>
    </div>

    <div class="ad" style="text-align:center;margin-top:2em;" wovn-ignore>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- illustfolio4-下 -->
      <ins class="adsbygoogle"
           style="display:inline-block"
           data-ad-client="ca-pub-7746351817364448"
           data-ad-slot="8933555314"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

  </div>
</section>

<section class="l-section section-start">
  <div class="section-mask"></div>
  <div class="l-container">
    <header class="section-header">
      <h2>イラストポートフォリオづくりをはじめよう</h2>
      <p>Illustfolio 4でポートフォリオサイト制作をはじめよう。無料です</p>
    </header>
    <div class="section-content">
      <div class="btn-wrapper">
        <a href="./docs" class="btn btn-large start-btn btn-wh">Install ILLUSTFOLIO 4</a>
      </div>
    </div>
  </div>
</section>

<section class=" l-section l-case">
  <div class="l-container">
    <header class="section-header">
      <h2>導入事例</h2>
      <p>Illustfolio 4 が使われたサイトを紹介します。ポートフォリオづくりの参考にしてください。<p>
      <p><small>※本テーマを元に改変しているサイトも含みます。<br>ネットで見つけた事例を集めています。掲載されたくない方はご連絡ください。</small></p>
    </header>
    <div class="l-row case-low">
      <div class="l-span4">
        <a href="http://mokeodayo.tumblr.com/">
          <img src="images/case-mokeodayo.jpg">
          <span>memo</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="http://ku6i.tumblr.com/">
          <img src="images/case-ku6i.jpg">
          <span>Creative Master</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="http://xathrid.tumblr.com/">
          <img src="images/case-xathrid.jpg">
          <span>sousousousou</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="http://hitomins.tumblr.com/">
          <img src="images/case-hitomins.jpg">
          <span>TWITE GRAPHICS</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="http://chiakiida.tumblr.com/">
          <img src="images/case-chiakiida.jpg">
          <span>Chiaki IDA Illustration</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="http://itoatsuki.tumblr.com/">
          <img src="images/case-itoatsuki.jpg">
          <span>いとうあつき</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="http://3211.tumblr.com/">
          <img src="images/case-3211.jpg">
          <span>3211号室</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="http://reoenl.com/">
          <img src="images/case-reoenl.jpg">
          <span>Re:</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="http://knuck07.tumblr.com/">
          <img src="images/case-knuck07.jpg">
          <span>なっくる帳</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="http://aika6.tumblr.com/">
          <img src="images/case-aika6.jpg">
          <span>illustration</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="http://yuzucandy.tumblr.com/">
          <img src="images/case-yuzucandy.jpg">
          <span>Yuzu*Candy -on Tumblr</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="http://hayashikewi.tumblr.com/">
          <img src="images/case-hayashikewi.jpg">
          <span>PALE LIGHT</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="http://yoshidaseiji.tumblr.com/">
          <img src="images/case-yoshidaseiji.jpg">
          <span>YOSHIDA Seiji</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="http://o-satou.tumblr.com/">
          <img src="images/case-o-satou.jpg">
          <span>tugihagi memo</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="http://couz.tumblr.com/">
          <img src="images/case-couz.jpg">
          <span>couzone-tumblr</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="http://inunohone.com/">
          <img src="images/case-inunohone.jpg">
          <span>衛星軌道上の犬小屋</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="//reku-works.tumblr.com/">
          <img src="images/case-reku-works.jpg">
          <span>Reku Works</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="//srarithmetic.com/">
          <img src="images/case-srarithmetic.jpg">
          <span>シフトライトアリスメティック</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="//quirogal.tumblr.com/">
          <img src="images/case-quirogal.jpg">
          <span>QuirogaL</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="//9shinn.tumblr.com/">
          <img src="images/case-9shinn.jpg">
          <span>絵</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="//harukaikedaworks.tumblr.com/">
          <img src="images/case-harukaikedaworks.jpg">
          <span>Harukaikeda works</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="//tou-purin.tumblr.com/">
          <img src="images/case-tou-purin.jpg">
          <span>TOU゜</span>
        </a>
      </div>
      <div class="l-span4">
        <a href="//yoshinoryo.tumblr.com/">
          <img src="images/case-yoshinoryo.jpg">
          <span>one's opinion - ヨシノリョウのイラストサイト</span>
        </a>
      </div>
      <div class="l-span4">
      </div>
      <div class="l-span4">
      </div>
    </div>
  </div>
</section>

<section class="l-section l-issue5">
  <div class="l-container">
    <header class="section-header">
      <h2>ポートフォリオ関連書籍のごあんない</h2>
      <p>私の所属する同人サークル『konel』で、「ポートフォリオサイトをつくる」をテーマにした同人誌を作りました。<br>（Illustfolio 4 の開発裏話も載ってます）
    </header>
    <div style="margin:1em auto;">
      <a href="http://konel-works.com/issue5/" class="btn" target="_blank">特設サイトを見る</a>
    </div>
    <a href="http://konel-works.com/issue5/"><img src="images/konelmag-issue5-ogimage.jpg"></a>
  </div>
</section>

<section class=" l-section l-getmorethemes">
  <div class="l-container">
    <header class="section-header">
      <h2 class="header-en">GET MORE THEMES</h2>
    </header>
    <div class="l-row">
      <div class="l-span3">
        <a href="https://sanographix.github.io/tokusetsu3/" class="thumbnail">
          <img src="https://sanographix.github.io/tumblr/images/theme-thumb-tokusetsu3.jpg">
          <div class="caption">
            <h4>Tokusetsu 3</h4>
            <p>同人CD・同人誌告知サイトが一瞬で作れるテンプレート</p>
          </div>
        </a>
      </div>
      <div class="l-span3">
        <a href="https://sanographix.github.io/tumblr/solo/" class="thumbnail">
          <img src="https://sanographix.github.io/tumblr/images/theme-thumb-solo.jpg">
          <div class="caption">
            <h4>Solo</h4>
            <p>「考え事を綴る」ためのTumblrテーマ</p>
          </div>
        </a>
      </div>
      <div class="l-span3">
        <a href="https://sanographix.github.io/tumblr/apollo/" class="thumbnail">
          <img src="https://sanographix.github.io/tumblr/images/theme-thumb-apollo.jpg">
          <div class="caption">
            <h4>Apollo</h4>
            <p>穏やかに日記を書きたい人のためのTumblrテーマ</p>
          </div>
        </a>
      </div>
      <div class="l-span3">
        <a href="https://sanographix.github.io/tumblr/zen/" class="thumbnail">
          <img src="https://sanographix.github.io/tumblr/images/theme-thumb-zen.jpg">
          <div class="caption">
            <h4>ZEN 2.0</h4>
            <p>普通に日記を書く用途にこだわったTumblrテーマ</p>
          </div>
        </a>
      </div>
    </div>
    <div style="text-align: center">
      <a href="https://sanographix.github.io/tumblr/" class="btn">Get more themes</a>
    </div>
  </div>
</section>

<section class="l-section section-share">
  <div class="l-container">
    <header class="section-header">
      <h3>このページを共有しよう</h3>
    </header>
    <div class="section-content">
      <div class="shareBtns">
        <a href="https://twitter.com/share?text=Illustfolio%204%20%2d%20%e3%82%a4%e3%83%a9%e3%82%b9%e3%83%88%e3%83%9d%e3%83%bc%e3%83%88%e3%83%95%e3%82%a9%e3%83%aa%e3%82%aa%e3%82%b5%e3%82%a4%e3%83%88%e3%81%8c%e4%b8%80%e7%9e%ac%e3%81%a7%e4%bd%9c%e3%82%8c%e3%82%8bTumblr%e3%83%86%e3%83%bc%e3%83%9e&url=<%= siteRootUrl %>" class="btn-tw" target="_blank" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;">
          <svg class="social-share-icon" xmlns="http://www.w3.org/2000/svg" viewBox="-623 385 32 32"><path fill="#FFF" d="M-591 391.1c-1.2.5-2.4.9-3.8 1 1.4-.8 2.4-2.1 2.9-3.6-1.3.8-2.7 1.3-4.2 1.6-1.2-1.3-2.9-2.1-4.8-2.1-3.6 0-6.6 2.9-6.6 6.6 0 .5.1 1 .2 1.5-5.5-.3-10.3-2.9-13.5-6.9-.6 1-.9 2.1-.9 3.3 0 2.3 1.2 4.3 2.9 5.5-1.1 0-2.1-.3-3-.8v.1c0 3.2 2.3 5.8 5.3 6.4-.6.1-1.1.2-1.7.2-.4 0-.8 0-1.2-.1.8 2.6 3.3 4.5 6.1 4.6-2.2 1.8-5.1 2.8-8.2 2.8-.5 0-1.1 0-1.6-.1 2.9 1.9 6.4 2.9 10.1 2.9 12.1 0 18.7-10 18.7-18.7v-.8c1.3-1 2.4-2.1 3.3-3.4z"/></svg>
        </a>
        <a href="http://www.facebook.com/sharer.php?u=<%= siteRootUrl %>" class="btn-fb" target="_blank" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;">
          <svg class="social-share-icon" xmlns="http://www.w3.org/2000/svg" viewBox="-623 385 32 32"><path fill="#FFF" d="M-605 417h-6v-16h-4v-5.5h4v-3.2c0-4.5 1.2-7.2 6.5-7.2h4.4v5.5h-2.8c-2.1 0-2.2.8-2.2 2.2v2.8h5l-.6 5.5h-4.4l.1 15.9z"/></svg>
        </a>
      </div>
    </div>
  </div>
</section>

<% include _footer %>
