<% var
  pageTitle = "";
  pageId = "index";
  pageUrl = "/";
  pageDescription = "";
%>
<% include _header %>

<header class="l-hero">
  <div class="l-container">
    <h1>イラストサイトは、<br>このテンプレートで。</h1>
    <p><strong>Illustfolio 4</strong>: イラストポートフォリオサイトが一瞬でつくれるTumblrテーマ</p>
    <div class="btn-wrapper">
      <a href="./docs" class="btn btn-large">Download Illustfolio 4</a>
    </div>
    <div class="hero-credit">
      Version 4.0<br>
      Created &amp; Maintained by <a href="https://twitter.com/sanographix">@sanographix</a>
    </div>
  </div>
</header>

<section class="l-section section-intro">
  <div class="l-container">
    <header class="section-header">
      <h2>イラストポートフォリオサイトを一瞬で作ろう</h2>
      <p>Illustfolio 4は、イラストポートフォリオサイトが一瞬で作れる無料Tumblrテーマです。<br>バージョン4.0は、今までで最も大きなアップデートです。より簡単・より快適に使えるようにしました。</p>
    </header>
    <div class="section-content">
      <img src="images/ss-intro.png">
    </div>
  </div>
</section>

<section class="l-section section-new-feature">
  <div class="l-container">
    <header class="section-header">
      <span class="section-header-badge">新機能</span>
      <h2>レイアウトをカスタマイズ</h2>
      <p>サムネイルの大きさ、余白の空き具合をカスタマイズして、あなたに合ったレイアウトで表示できます。シングルカラムモードも搭載。</p>
    </header>
    <div class="section-content new-feature-content">
      <div class="l-row">
        <div class="l-span5">
          <h4>レイアウトを試そう</h4>
          <ul>
            <li>
              <span class="layout-selector-btn layout-btn-xs">XS</span>
            </li>
            <li>
              <span class="layout-selector-btn layout-btn-s">S</span>
            </li>
            <li>
              <span class="layout-selector-btn layout-btn-m">M</span>
            </li>
            <li>
              <span class="layout-selector-btn layout-btn-l">L</span>
            </li>
            <li>
              <span class="layout-selector-btn layout-btn-xl">XL</span>
            </li>
            <li>
              <span class="layout-selector-btn layout-btn-single">SINGLE</span>
            </li>
          </ul>
        </div>
        <div class="l-span7">
          <ul class="layout-img-wrapper">
            <li class="layout-img layout-img-xs is-active">
              <span>XSです</span>
            </li>
            <li class="layout-img layout-img-s">
              <span>Sです</span>
            </li>
            <li class="layout-img layout-img-m">
              <span >Mです</span>
            </li>
            <li class="layout-img layout-img-l">
              <span >Lです</span>
            </li>
            <li class="layout-img layout-img-xl">
              <span >XLです</span>
            </li>
            <li class="layout-img layout-img-single">
              <span >singleです</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="l-section section-features">
  <div class="l-container">
    <div class="features-wrapper">
      <div class="features-items">
        <h3>一新されたデザイン</h3>
        <p>テーマカラー、アクセントカラー、背景画像のほか、フォントのカスタマイズに対応しています。</p>
      </div>
      <div class="features-items">
        <h3>プロフィールを表示</h3>
        <p>Soundcloud、Youtube、ニコニコ動画の貼り付けに対応しています。クロスフェードデモやムービーを貼り付けましょう。</p>
      </div>
      <div class="features-items">
        <h3>タグの一覧表示</h3>
        <p>Twitter, FacebookなどのSNSでシェアされたときの表示 (OGP) が、あらかじめ設定されています。</p>
      </div>
    </div>
  </div>
</section>

<section class="l-section section-start">
  <div class="l-container">
    <header class="section-header">
      <h2>はじめよう、最速で</h2>
      <p>いますぐTokusetsu 3で爆速告知サイト制作をはじめよう。無料です。</p>
    </header>
    <div class="section-content">
      <div class="btn-wrapper">
        <a href="./docs" class="btn btn-large start-btn">Tokusetsu 3 をはじめる</a>
      </div>
    </div>
  </div>
</section>

<section class=" l-section l-getmorethemes">
  <div class="l-container">
    <header class="section-header">
      <h2 class="header-en">GET MORE THEMES</h2>
    </header>
    <div class="l-row">
      <div class="l-span3">
        <a href="http://sanographix.github.com/tumblr/illustfolio3/" class="thumbnail">
          <img src="http://sanographix.github.com/tumblr/images/theme-thumb-illustfolio3.jpg">
          <div class="caption">
            <h4>Illustfolio 3</h4>
            <p>イラストポートフォリオサイトが一瞬で作れるTumblrテーマ</p>
          </div>
        </a>
      </div>
      <div class="l-span3">
        <a href="http://sanographix.github.com/tumblr/solo/" class="thumbnail">
          <img src="http://sanographix.github.com/tumblr/images/theme-thumb-solo.jpg">
          <div class="caption">
            <h4>Solo</h4>
            <p>「考え事を綴る」ためのTumblrテーマ</p>
          </div>
        </a>
      </div>
      <div class="l-span3">
        <a href="http://sanographix.github.com/tumblr/apollo/" class="thumbnail">
          <img src="http://sanographix.github.com/tumblr/images/theme-thumb-apollo.jpg">
          <div class="caption">
            <h4>Apollo</h4>
            <p>穏やかに日記を書きたい人のためのTumblrテーマ</p>
          </div>
        </a>
      </div>
      <div class="l-span3">
        <a href="http://sanographix.github.com/tumblr/zen/" class="thumbnail">
          <img src="http://sanographix.github.com/tumblr/images/theme-thumb-zen.jpg">
          <div class="caption">
            <h4>ZEN 2.0</h4>
            <p>普通に日記を書く用途にこだわったTumblrテーマ</p>
          </div>
        </a>
      </div>
    </div>
    <div style="text-align: center">
      <a href="http://sanographix.github.com/tumblr/" class="btn">Get more themes</a>
    </div>
  </div>
</section>

<section class="l-section section-share">
  <div class="l-container">
    <header class="section-header">
      <h3>このページを共有しよう</h3>
    </header>
    <div class="section-content">
      <div class="shareBtns">
        <a href="https://twitter.com/share?text=Tokusetsu%203%20%2d%20%e5%90%8c%e4%ba%baCD%e3%83%bb%e5%90%8c%e4%ba%ba%e8%aa%8c%e5%91%8a%e7%9f%a5%e3%82%b5%e3%82%a4%e3%83%88%e3%81%8c%e4%b8%80%e7%9e%ac%e3%81%a7%e4%bd%9c%e3%82%8c%e3%82%8b%e3%83%86%e3%83%b3%e3%83%97%e3%83%ac%e3%83%bc%e3%83%88&url=<%= siteRootUrl %>" class="btn-tw" target="_blank">
          <svg class="social-share-icon" xmlns="http://www.w3.org/2000/svg" viewBox="-623 385 32 32"><path fill="#FFF" d="M-591 391.1c-1.2.5-2.4.9-3.8 1 1.4-.8 2.4-2.1 2.9-3.6-1.3.8-2.7 1.3-4.2 1.6-1.2-1.3-2.9-2.1-4.8-2.1-3.6 0-6.6 2.9-6.6 6.6 0 .5.1 1 .2 1.5-5.5-.3-10.3-2.9-13.5-6.9-.6 1-.9 2.1-.9 3.3 0 2.3 1.2 4.3 2.9 5.5-1.1 0-2.1-.3-3-.8v.1c0 3.2 2.3 5.8 5.3 6.4-.6.1-1.1.2-1.7.2-.4 0-.8 0-1.2-.1.8 2.6 3.3 4.5 6.1 4.6-2.2 1.8-5.1 2.8-8.2 2.8-.5 0-1.1 0-1.6-.1 2.9 1.9 6.4 2.9 10.1 2.9 12.1 0 18.7-10 18.7-18.7v-.8c1.3-1 2.4-2.1 3.3-3.4z"/></svg>
        </a>
        <a href="http://www.facebook.com/sharer.php?u=<%= siteRootUrl %>" class="btn-fb" target="_blank">
          <svg class="social-share-icon" xmlns="http://www.w3.org/2000/svg" viewBox="-623 385 32 32"><path fill="#FFF" d="M-605 417h-6v-16h-4v-5.5h4v-3.2c0-4.5 1.2-7.2 6.5-7.2h4.4v5.5h-2.8c-2.1 0-2.2.8-2.2 2.2v2.8h5l-.6 5.5h-4.4l.1 15.9z"/></svg>
        </a>
      </div>
    </div>
  </div>
</section>

<% include _footer %>
