<% var
pageTitle = "ドキュメント";
pageId = "docs-index";
pageUrl = "/docs/";
pageDescription = "Tokusetsu 3 docs";
%>
<% include ../_header %>
<% include _docs-nav %>

  <h1>Illustfolio 4 ドキュメントへようこそ</h1>
  <p>
  Illustfolio 4 はイラストレーターのための Tumblr テーマです。
  <a href="https://twitter.com/sanographix">@sanographix</a> が作っています。
  </p>
  <img src="../images/og-image.jpg">

  <h2>デモを見る</h2>

  <p>デモページはこちらです。</p>
  <ul>
    <li><a href="http://illustfolio4-sanographixtheme.tumblr.com">http://illustfolio4-sanographixtheme.tumblr.com</a></li>
  </ul>

  <h2>対応ブラウザ</h2>

  <ul>
    <li>IE11, Edge</li>
    <li>Win / Mac 版 Chrome, Firefox, Opera 各最新版</li>
    <li>Mac 版  Safari 最新版</li>
    <li>iOS Safari 最新版</li>
    <li>Chrome for Android 最新版</li>
  </ul>

  <h1>インストールする</h1>
  <p>下記のリンクよりインストールできます。</p>
  <a href="https://www.tumblr.com/theme/40571" class="btn btn-large">インストールする</a>

  <h1>各項目のカスタマイズ</h1>

  <h1>よくある質問</h1>

  <h2>Q: ブログを非公開にしたところパスワード以外にも認証を求められる</h2>
  <p>タグリストを無効にすると解決します。（タグ一覧を取得するためにブログが公開状態でなければなりません）</p>

  <h2>Q: スマホのブラウザで見たら違うテーマになっています</h2>
  <p>デフォルトのスマートフォンテーマが有効になっているためです。「▾ 詳細設定」の「モバイルレイアウトを使用する」の チェックを外してください。</p>

  <h2>Q: 本当に無料ですか？</h2>
  <p>はい、無料です。<br>気に入っていただけたら、何か寄付していただけるとありがたいです（任意です）
  <a href="http://www.amazon.co.jp/registry/wishlist/2QLOE7F0CGUSX">http://www.amazon.co.jp/registry/wishlist/2QLOE7F0CGUSX</a></p>

  <h2>Q: 商用利用してもいいですか？</h2>
  <p>問題ありません。ただし Tumblr の利用規約に違反するコンテンツには使えません。</p>

  <h2>Q: HTML や CSS を改変してもいいですか？</h2>
  <p>はい。MIT ライセンスですのでライセンスの範囲内で自由にカスタマイズできます。</p>

  <h2>上記以外の質問</h2>
  <p><a href="http://www.sanographix.net/contact/">メールフォーム</a>よりお問い合わせください。なお、HTML/CSS/JSのカスタマイズについてのサポートは行っていません。</p>

<% include _docs-footer %>
<% include ../_footer %>
